<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start">
      <a class="navbar-item">
        <%= link_to 'Home', root_path %>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Doctors
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            View
          </a>
          <a class="navbar-item">
            Edit
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Destroy
          </a>
        </div>
      </div>
    </div>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">
        Doctors
    </a>

    <div class="navbar-dropdown">
      <a class="navbar-item">
        View
      </a>
      <a class="navbar-item">
        Edit
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item">
        Destroy
      </a>
      </div>
    </div>

  </div>
</nav>
